#dir-icon {
    -fx-text-fill: #5ea8e3;
    -fx-font-size: 15;
}

#dir-icon:hover {
    -fx-cursor: hand;
}

#web-icon {
    -fx-text-fill: #97a0b2;
    -fx-font-size: 15;
}

#filetypes-icon {
    -fx-text-fill: #97a0b2;
    -fx-font-size: 15;
}

#app-icon {
    -fx-text-fill: #5ea8e3;
    -fx-font-size: 25px;
}

#progress-app-icon {
    -fx-text-fill: #5ea8e3;
    -fx-font-size: 14px;
}

#found-app-icon {
    -fx-text-fill: #2481e3;
    -fx-font-size: 18px;
}

#alert-app-icon, #info-app-icon {
    -fx-text-fill: #2481e3;
    -fx-font-size: 17;
}

#pdf-icon {
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

#url-alert-icon, #filetypes-alert-icon {
    -fx-text-fill: #c7706e;
    -fx-font-size: 15;
}

#alert-dialog-icon {
    -fx-text-fill: #c75450;
    -fx-font-size: 40;
}

#info-dialog-icon {
    -fx-text-fill: #2481e3;
    -fx-font-size: 40;
}

#main-settings-icon {
    -fx-text-fill: #5ea8e3;
    -fx-font-size: 15px;
}

#fxpdfs-app-close-icon {
    -fx-font-size: 13px;
    -fx-text-fill: #c7706e;
}

#fxpdfs-app-minimize-icon {
    -fx-font-size: 13px;
    -fx-text-fill: #5ea8e3;
}

#fxpdfs-app-close-icon-box:hover {
    -fx-background-color: #c75450;
    -fx-cursor: hand;
}

#fxpdfs-app-minimize-icon-box:hover {
    -fx-background-color: #2481e3;
    -fx-cursor: hand;
}